{
  "openapi": "3.0.0",
  "info": {
    "title": "Notamify API",
    "version": "1.0.0",
    "description": "API for fetching NOTAMs (with AI interpretation) and generating briefings"
  },
  "servers": [
    {
      "url": "http://api.notamify.com"
    }
  ],
  "paths": {
    "/api/get-notams": {
      "get": {
        "summary": "Fetch NOTAMs with AI interpretation",
        "description": "Fetches NOTAMs for the given locations and date range",
        "parameters": [
          {
            "name": "locations",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of ICAO codes",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "description": "Flag to perform a dry run without fetching NOTAMs",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "description": "Signed API key for authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NOTAM"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key. Check if the key is signed."
          },
          "404": {
            "description": "NOTAMs not found"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'http://api.notamify.com/api/get-notams'\nheaders = {\n    'X-API-Key': 'YOUR_API_KEY'\n}\nparams = {\n    'locations': 'ICAO1,ICAO2',\n    'start_date': '2023-01-01',\n    'end_date': '2023-01-02',\n    'dry_run': 'false'\n}\n\nresponse = requests.get(url, headers=headers, params=params)\n\nif response.status_code == 200:\n    notams = response.json()\n    print(notams)\nelse:\n    print(f'Error: {response.status_code} - {response.text}')"
          }
        ]
      }
    },
    "/api/get-briefing": {
      "get": {
        "summary": "Generate a briefing",
        "description": "Generates a briefing for the given locations, date range, and role",
        "parameters": [
          {
            "name": "locations",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of ICAO codes",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Role for which the briefing is generated",
            "schema": {
              "type": "string",
              "default": "flight dispatcher"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "description": "Flag to perform a dry run without generating the briefing",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "always_include_est",
            "in": "query",
            "description": "Flag to always include estimated NOTAMs into the briefing",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "detailed_briefing",
            "in": "query",
            "description": "Flag to generated detailed briefing. The flag set to 'false' generate shorter briefings",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "description": "Signed API key for authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Briefing"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key. Check if the key is signed."
          },
          "404": {
            "description": "NOTAMs not found"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'http://api.notamify.com/api/get-briefing'\nheaders = {\n    'X-API-Key': 'YOUR_API_KEY'\n}\nparams = {\n    'locations': 'ICAO1,ICAO2',\n    'start_date': '2023-01-01',\n    'end_date': '2023-01-02',\n    'role': 'flight dispatcher',\n    'dry_run': 'false',\n    'always_include_est': 'true',\n    'detailed_briefing': 'true'\n}\n\nresponse = requests.get(url, headers=headers, params=params)\n\nif response.status_code == 200:\n    briefing = response.json()\n    print(briefing)\nelse:\n    print(f'Error: {response.status_code} - {response.text}')"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "NOTAM": {
        "type": "object",
        "properties": {
          "notam_id": {
            "type": "integer"
          },
          "notam_content": {
            "type": "string"
          },
          "interpretations": {
            "type": "object"
          }
        }
      },
      "Briefing": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string"
          }
        }
      }
    }
  }
}
