{
  "openapi": "3.0.0",
  "info": {
    "title": "Notamify API",
    "version": "1.0.0",
    "description": "API for fetching NOTAMs (with AI interpretation) and generating briefings. The endpoints work only for the current and future (already issued) NOTAMs."
  },
  "servers": [
    {
      "url": "https://api.notamify.com"
    }
  ],
  "paths": {
    "/api/get-notams": {
      "get": {
        "summary": "Fetch NOTAMs with AI interpretation",
        "description": "Fetches NOTAMs for the given locations and date range. Works for the current and future (already issued) NOTAMs.",
        "parameters": [
          {
            "name": "locations",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of ICAO codes. Up to 10 ICAO codes. Example: `EPWA,EDDM,EPPO` ",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date (YYYY-MM-DD) [UTC]",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date (YYYY-MM-DD) [UTC]",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "description": "Flag to perform a dry run without fetching NOTAMs",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "always_include_est",
            "in": "query",
            "description": "Flag to always include estimated NOTAMs into the briefing",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "description": "Signed API key for authentication",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NOTAM"
                  }
                },
                "examples": {
                  "example-1": {
                    "summary": "A NOTAM example",
                    "value": [
                      {
                        "EST": false,
                        "PERM": false,
                        "ai_ac_type": "",
                        "ai_category": "Airport maintenance",
                        "ai_interpretation": "Taxiway N6 is closed daily from 2030 to 0500.",
                        "ai_interpretation_role": "Pilot",
                        "ai_short_interpretation": "Taxiway N6 closed.",
                        "ai_timing": "Daily from 2030 to 0500.",
                        "all": "A5496/24 NOTAMN\nQ) EDGG/QMXLC/IV/BO /A /000/999/5002N00834E005\nA) EDDF B) 2410212030 C) 2410260500\nD) DAILY 2030-0500\nE) TWY N6 CLSD.",
                        "enddate": "2024-10-26T05:00:00",
                        "icao": "EDDF",
                        "key": "EDDF_A5496/24",
                        "location": "EDDF",
                        "message": "TWY N6 CLSD.",
                        "notam_id": "7OA91QL5FIbRACJ61QxPhl",
                        "processed_at": "2024-10-23T17:46:46.219691",
                        "raw_id": "A5496/24",
                        "startdate": "2024-10-21T20:30:00",
                        "timing_info": "DAILY 2030-0500"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key. Check if the key is signed."
          },
          "404": {
            "description": "NOTAMs not found"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\n\nurl = 'https://api.notamify.com/api/get-notams'\nheaders = {\n    'X-API-Key': 'YOUR_API_KEY'\n}\nparams = {\n    'locations': 'ICAO1,ICAO2',\n    'start_date': '2023-01-01',\n    'end_date': '2023-01-02',\n    'dry_run': 'false'\n}\n\nresponse = requests.get(url, headers=headers, params=params)\n\nif response.status_code == 200:\n    notams = response.json()\n    print(notams)\nelse:\n    print(f'Error: {response.status_code} - {response.text}')"
          }
        ]
      }
    },
    "/api/get-briefing": {
      "get": {
        "summary": "Generate a briefing",
        "description": "Generates a briefing for the given locations, date range, and role. Works for the current and future (already issued) NOTAMs.",
          "parameters": [
            {
              "name": "locations",
              "in": "query",
              "required": true,
              "description": "Comma-separated list of ICAO codes. Up to 10 ICAO codes. Example: `EPWA,EDDM,EPPO` ",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            {
              "name": "start_date",
              "in": "query",
              "description": "Start date (YYYY-MM-DD) [UTC]",
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "end_date",
              "in": "query",
              "description": "End date (YYYY-MM-DD) [UTC]",
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "role",
              "in": "query",
              "description": "Role for which the briefing is generated. Accepted are: `flight dispatcher, dispatcher, pilot, atc, air traffic controller`.",
              "schema": {
                "type": "string",
                "enum": ["flight dispatcher", "dispatcher", "pilot", "atc", "air traffic controller"],
                "default": "flight dispatcher"
              }
            },
            {
              "name": "dry_run",
              "in": "query",
              "description": "Flag to perform a dry run without generating the briefing",
              "schema": {
                "type": "boolean",
                "default": false
              }
            },
            {
              "name": "always_include_est",
              "in": "query",
              "description": "Flag to always include estimated NOTAMs into the briefing",
              "schema": {
                "type": "boolean",
                "default": true
              }
            },
            {
              "name": "detailed_briefing",
              "in": "query",
              "description": "Flag to generated detailed briefing. The flag set to 'false' generate shorter briefings",
              "schema": {
                "type": "boolean",
                "default": true
              }
            },
            {
              "name": "stream",
              "in": "query",
              "description": "Flag to return streaming response.",
              "schema": {
                "type": "boolean",
                "default": false
              }
            },
            {
              "name": "markdown",
              "in": "query",
              "description": "Flag to return briefing in markdown. If false, then returns plain text.",
              "schema": {
                "type": "boolean",
                "default": true
              }
            },
            {
              "name": "X-API-Key",
              "in": "header",
              "required": true,
              "description": "Signed API key for authentication",
              "schema": {
                "type": "string"
              }
            }
          ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Briefing"
                },
                "examples": {
                  "example-1": {
                    "summary": "A briefing example",
                    "value": {
                      "summary": "Briefing summary for the given locations and date range"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key. Check if the key is signed."
          },
          "404": {
            "description": "NOTAMs not found"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\n\nurl = 'https://api.notamify.com/api/get-briefing'\nheaders = {\n    'X-API-Key': 'YOUR_API_KEY'\n}\nparams = {\n    'locations': 'ICAO1,ICAO2',\n    'start_date': '2023-01-01',\n    'end_date': '2023-01-02',\n    'role': 'flight dispatcher',\n    'dry_run': 'false',\n    'always_include_est': 'true',\n    'detailed_briefing': 'true'\n}\n\nresponse = requests.get(url, headers=headers, params=params)\n\nif response.status_code == 200:\n    briefing = response.json()\n    print(briefing)\nelse:\n    print(f'Error: {response.status_code} - {response.text}')"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "NOTAM": {
        "type": "object",
        "properties": {
          "notam_id": {
            "type": "string"
          },
          "notam_content": {
            "type": "string"
          },
          "interpretations": {
            "type": "object"
          },
          "EST": {
            "type": "boolean"
          },
          "PERM": {
            "type": "boolean"
          },
          "ai_ac_type": {
            "type": "string"
          },
          "ai_category": {
            "type": "string"
          },
          "ai_interpretation": {
            "type": "string"
          },
          "ai_interpretation_role": {
            "type": "string"
          },
          "ai_short_interpretation": {
            "type": "string"
          },
          "ai_timing": {
            "type": "string",
            "nullable": true
          },
          "all": {
            "type": "string"
          },
          "enddate": {
            "type": "string",
            "format": "date-time"
          },
          "icao": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "processed_at": {
            "type": "string",
            "format": "date-time"
          },
          "raw_id": {
            "type": "string"
          },
          "startdate": {
            "type": "string",
            "format": "date-time"
          },
          "timing_info": {
            "type": "string",
            "nullable": true
          }
        },
        "example": {
          "EST": false,
          "PERM": false,
          "ai_ac_type": "",
          "ai_category": "Airport maintenance",
          "ai_interpretation": "Taxiway N6 is closed daily from 2030 to 0500.",
          "ai_interpretation_role": "Pilot",
          "ai_short_interpretation": "Taxiway N6 closed.",
          "ai_timing": "Daily from 2030 to 0500.",
          "all": "A5496/24 NOTAMN\nQ) EDGG/QMXLC/IV/BO /A /000/999/5002N00834E005\nA) EDDF B) 2410212030 C) 2410260500\nD) DAILY 2030-0500\nE) TWY N6 CLSD.",
          "enddate": "2024-10-26T05:00:00",
          "icao": "EDDF",
          "key": "EDDF_A5496/24",
          "location": "EDDF",
          "message": "TWY N6 CLSD.",
          "notam_id": "7OA91QL5FIbRACJ61QxPhl",
          "processed_at": "2024-10-23T17:46:46.219691",
          "raw_id": "A5496/24",
          "startdate": "2024-10-21T20:30:00",
          "timing_info": "DAILY 2030-0500"
        }
      },
      "Briefing": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string"
          }
        },
        "example": {
          "summary": "Briefing summary for the given locations and date range"
        }
      }
    }
  }
}
